.list-object {
  display: flex;
  min-height: 64px;
  height: 64px;
  background-color: white;
  border-radius: 0;
  border: 0;
  transition: 0.6s ease-in-out;
}

.list-object:hover {
  transition-delay: 0.1s;
  background-color: rgb(164, 164, 164);
}

.list-object:active {
  background-color: rgb(243, 229, 245);
}

.list-object:last-child .name-text ,
.list-object:last-child .time-status{
  border-bottom: 0;
}

.avatar {
  width: 25%;
  text-align: center;
  color: black;
  padding-top: 7px;
}

.account-circle {
  font-size: 50px;
}

.name-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 59%;
  padding: 10px 0;
  border-bottom: 1px rgba(85, 85, 85, 0.3) solid;
  height: 100%;
  overflow: hidden;
}

.list-object-name {
  font-size: 18px;
  color: black;
  text-align: left;
}

.list-object-text {
  font-size: 14px;
  color: rgb(51, 51, 51);
  text-align: left;
}

.time-status {
  padding-top: 6px;
  display: flex;
  flex-direction: column;
  width: 16%;
  border-bottom: 1px rgba(85, 85, 85, 0.3) solid;
  height: 100%;
}

.list-object-time {
  color: rgb(102, 96, 103);
  font-size: 12px;
  height: 40%;
  text-align: center;
  padding-top: 10px;
}

.list-object-status {
  height: 60%;
  text-align: center;
  color: rgb(141, 44, 168);
}

.status-icon {
  font-size: 20px;
}