body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

div.phone-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 358px;
    height: 634px;
    background-color: rgb(243, 243, 243);
    margin-top: 30px;
    position: relative;
}

div.icons-tab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(141, 44, 168);
    min-height: 81px;
    height: 81px;
}

div.up-icons-tab {
    display: flex;
    justify-content: flex-end;
    height: 25px;
    border-bottom: rgb(140, 43, 166) 2px solid;
    padding-top: 5px;
}

div.down-icons-tab {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.user {
    display: inline-block;
    flex-basis: 35%;
}

div.username {
    font-size: 18px;
    color: white;
    text-align: left;
    padding-top: 0;
    font-family: Verdana, sans-serif;
}

div.userseen {
    font-size: 12px;
    color: rgb(220, 220, 220);
    text-align: left;
    padding-bottom: 0;
    font-family: 'Roboto Thin', serif;
    font-weight: lighter;
}

div.input-field {
    display: flex;
    align-items: center;
    min-height: 56px;
    height: 56px;
    max-height: 56px;
    margin-bottom: 0;
    border: 1px rgb(220, 220, 220) solid;
    box-shadow: 0 -5px 5px 0 rgb(220, 220, 220);
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chat {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
}

.message {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.message--user-1 + .message--user-2,
.message--user-2 + .message--user-1 {
    margin-top: 1em;
}

.message--user-1 + .message--user-1,
.message--user-2 + .message--user-2 {
    margin-top: .5em;
}

.message-text {
    overflow-wrap: break-word;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    max-width: 70%;
}

.message--user-2 {
    justify-content: flex-end;
    position: relative;
}

.message--user-2::after {
    content: "";
    position: absolute;
    left: 99%;
    top: calc(100% - 28px);
    border-top: 12px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 12px solid rgb(243, 229, 245);
}

.message--user-1 {
    justify-content: start;
    position: relative;
}

.message--user-1::after {
    content: "";
    position: absolute;
    right: 99%;
    top: calc(100% - 28px);
    border-top: 12px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 12px solid white;
}

.message--user-2 .message-text {
    background-color: rgb(243, 229, 245);
}

form.form {
    width: 86%;
    margin-right: 4px;
}

span.in-span {
    color: rgb(159, 159, 159)
}

input.form-input {
    width: 100%;
    font-size: 16px;
}

input[type=text] {
    border: none;
}

input[type=text]:focus {
    border: none;
    outline: none;
}

div.spaces {
    width: 16px;
    height: 100%;
}

div.name {
    font-size: 12px;
    font-family: Tahoma, sans-serif;
    color: red;
    margin: -8px 0 0;
}

div.text {
    font-size: 16px;
    width: 100%;
    margin-top: 2px;
}

div.time {
    color: rgb(102, 96, 103);
    font-size: 10px;
    margin: 0 -5px -8px -10px;
    text-align: right;
}

#sca_icon {
    font-size: medium;
    color: white;
}

#wifi_icon {
    font-size: medium;
    color: white;
}

#battery_icon {
    font-size: medium;
    color: white;
}

#arrow_icon {
    text-align: center;
    font-size: x-large;
    color: white;
    flex-basis: 15%;
}

#account_icon {
    text-align: center;
    font-size: 38px;
    color: white;
    flex-basis: 20%;
}

#search_icon {
    width: 15%;
    text-align: center;
    font-size: x-large;
    color: white;
}

#vert_icon {
    text-align: center;
    font-size: x-large;
    color: white;
    flex-basis: 15%;
}

#attachment_icon {
    text-align: center;
    font-size: x-large;
    color: rgb(118, 118, 118);
    margin-right: 8px;
}

#dynamic_content {
    padding-top: 10px;
    padding-bottom: 10px;
}

#menu_icon {
    color: white;
    width: 15%;
    text-align: center;
}

.messenger-caption {
    width: 70%;
    color: white;
    font-family: Tahoma, serif;
    font-size: 18px;
    padding-left: 15px;
}

.message--user-1 #done {
    display: none;
}

.message--user-2 #done {
    display: inline;
    color: rgb(141, 44, 168);
    font-size: 10px;
}

.chat-list {
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: auto;
}

.list-object {
    display: flex;
    min-height: 64px;
    height: 64px;
    background-color: white;
    border-radius: 0;
    border: 0;
}

.list-object:hover {
    background-color: rgb(176, 176, 176);
}

.list-object:last-child .name-text ,
.list-object:last-child .time-status{
    border-bottom: 0;
}

.avatar {
    width: 25%;
    text-align: center;
    color: black;
    padding-top: 7px;
}

.name-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 59%;
    padding: 10px 0;
    border-bottom: 1px rgba(85, 85, 85, 0.3) solid;
    height: 100%;
}

.list-object-name {
    font-size: 18px;
    color: black;
    text-align: left;
}

.list-object-text {
    font-size: 14px;
    color: rgb(51, 51, 51);
    text-align: left;
}

.time-status {
    padding-top: 6px;
    display: flex;
    flex-direction: column;
    width: 16%;
    border-bottom: 1px rgba(85, 85, 85, 0.3) solid;
    height: 100%;
}

.list-object-time {
    color: rgb(102, 96, 103);
    font-size: 12px;
    height: 40%;
    text-align: center;
    padding-top: 10px;
}

.list-object-status {
    height: 60%;
    text-align: center;
    color: rgb(141, 44, 168);
}

.float-action-button {
    position: absolute;
    bottom: 16px;
    right: 16px;
    background-color: rgb(254, 212, 91);
    color: rgb(116, 96, 41);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    padding: 16px;
}
