* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

div.phone-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 358px;
    height: 634px;
    background-color: rgb(243, 243, 243);
    position: relative;
}

div.icons-tab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(141, 44, 168);
    min-height: 81px;
    height: 81px;
}

div.up-icons-tab {
    display: flex;
    justify-content: flex-end;
    height: 25px;
    border-bottom: rgb(140, 43, 166) 2px solid;
    padding-top: 5px;
}

div.down-icons-tab {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sca-icon {
    font-size: medium;
    color: white;
}

.wifi-icon {
    font-size: medium;
    color: white;
}

.battery-icon {
    font-size: medium;
    color: white;
}

.search-icon {
    width: 15%;
    text-align: center;
    font-size: x-large;
    color: white;
}
