.menu-icon {
    color: white;
    width: 15%;
    text-align: center;
}

.messenger-caption {
    width: 70%;
    color: white;
    font-family: Tahoma, serif;
    font-size: 18px;
    padding-left: 15px;
}

.chat-list {
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: auto;
}

.pulse {
    position: absolute;
    bottom: 16px;
    right: 16px;
    text-align: center;
    background: rgb(254, 212, 91);
    color: rgb(116, 96, 41);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    padding: 16px;
}

.pulse:hover::after,
.pulse:hover::before {
    content: '';
    position: absolute;
    border: 2px solid rgb(254, 212, 91);
    left: -20px;
    opacity: 0;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: pulse 2.5s linear infinite;
}

.pulse:hover::after {
    animation-delay: 1.25s;
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.create-icon {
    font-size: 24px;
}

.list-object {
    display: flex;
    min-height: 64px;
    height: 64px;
    background-color: white;
    border-radius: 0;
    border: 0;
    transition: 0.6s ease-in-out;
}

.list-object:hover {
    transition-delay: 0.1s;
    background-color: rgb(164, 164, 164);
}

.list-object:active {
    background-color: rgb(243, 229, 245);
}

.list-object:last-child .name-text ,
.list-object:last-child .time-status{
    border-bottom: 0;
}

.avatar {
    width: 25%;
    text-align: center;
    color: black;
    padding-top: 7px;
}

.account-circle {
    font-size: 50px;
}

.name-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 59%;
    padding: 10px 0;
    border-bottom: 1px rgba(85, 85, 85, 0.3) solid;
    height: 100%;
    overflow: hidden;
}

.list-object-name {
    font-size: 18px;
    color: black;
    text-align: left;
}

.list-object-text {
    font-size: 14px;
    color: rgb(51, 51, 51);
    text-align: left;
}

.time-status {
    padding-top: 6px;
    display: flex;
    flex-direction: column;
    width: 16%;
    border-bottom: 1px rgba(85, 85, 85, 0.3) solid;
    height: 100%;
}

.list-object-time {
    color: rgb(102, 96, 103);
    font-size: 12px;
    height: 40%;
    text-align: center;
    padding-top: 10px;
}

.list-object-status {
    height: 60%;
    text-align: center;
    color: rgb(141, 44, 168);
}

.status-icon {
    font-size: 20px;
}